@using Byrone.Xenia.Data
@layout BaseLayout

<h1>Hello from @Request.Path.ToString()!</h1>

<ul>
	@for (var i = 0; i < 1000; i++)
	{
		<li @key="@i.ToString()">Person @i.ToString()</li>
	}
</ul>

@code {

	[CascadingParameter]
	public Request Request { get; init; }

}
